@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');
:root {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  margin:0;
  padding:0;
  box-sizing: border-box; 
}
*{
  margin: 0;
}

a{
  color: white !important;
  text-decoration: none !important;
  /* text-transform: uppercase !important; */
}
li{
  text-decoration: none;
  list-style: none;
}

nav{
  height: 7vh;
  min-height: 60px; 
}
.fullscreen{
  height:auto;
  min-height: 93vh;
}
.tab-adjuster{

  max-width: 80vw !important;

}